<div class="modal fade" id="modalPosicoes" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
    	<div class="modal-content">
      		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        		<h4 class="modal-title">Posições</h4>
      		</div>
      		<div class="modal-body">
        		<table class="table table-striped table-hover">
        			<thead>
        				<tr>
        					<th>Siape</th>
        					<th>Professor</th>
        					<th>Posição</th>
                            <th>Prioridade</th>
                            <th>Status</th>
                            <th>CH</th>
        					<th></th>
                            <th width="5%"></th>
        				</tr>
        			</thead>

        			<tbody>
        				<tr ng-repeat="p in ct.posicoes | orderBy:'Fila.PosicaoReal'">
        					<td>{{p.Professor.Siape}}</td>
        					<td>{{p.Professor.Nome}}</td>
        					<td>{{p.Fila.PosicaoReal}}</td>
        					<td>{{p.PrioridadeReal}}</td>
                            <td>{{ct.getStatusText(p.Status)}}</td>
                            <td>{{p.Professor.CH}}</td>
        					<td>({{p.Fila.QtdaMinistrada}}/{{p.Fila.QtdaMaxima}})</td>
                            <td>
                                <button class="btn btn-success btn-xs" ng-show="p.Status == ct.statusAlgoritmo.EM_ESPERA.value || p.Status == ct.statusAlgoritmo.NAO_ANALISADA_AINDA.value || (p.Status == ct.statusAlgoritmo.CH_COMPLETA.value && ct.resposta.Bloqueios.length == 0 && !ct.turmaJaAtribuida(ct.posicoes))" ng-click="ct.atribuirModalPosicoes(p)">
                                    <i class="fa fa-check"></i>
                                </button>
                            </td>
        				</tr>
        			</tbody>
        		</table>
      		</div>
      		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      		</div>
    	</div>
  	</div>
</div>