<nav style="text-align: center;">
    <ul class="pagination pagination-sm">
        <li ng-class="{'disabled':ct.indexBloqueio <= 0}">
            <a href aria-label="Previous" ng-click="ct.previousBloqueio()">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li ng-repeat="pagina in ct.paginasBloqueios" ng-class="{'active':pagina == ct.indexBloqueio}"><a href ng-click="ct.indexBloqueio = pagina">{{pagina + 1}}</a></li>
        <li ng-class="{'disabled':ct.indexBloqueio >= (ct.resposta.FilasTurmasBloqueadas.length - 1)}">
            <a href aria-label="Next" ng-click="ct.nextBloqueio()">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>